.about-content {
    padding: 15px;
    background-color: $about-background-color;
}

.about-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-content-title {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.about-tile {
    background-color: $service-container-background-color;
    max-width: 500px;
    min-height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
