.about-content {
    padding: 15px;
    background-color: $about-background-color;
}

.about-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
}

.about-tile {
    background-color: $service-container-background-color;
    max-width: 500px;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.about-content-title {
    text-align: center;
    text-transform: uppercase;
}
