.contact-content {
}

.contact-content-title {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.contact-container {
}

.form-input {
    display: block;
}
