.contact-content {
    padding: 15px;
}

.contact-content-title {
    font-size: 28px;
    padding-bottom: 15px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.contact-container {
}

.required-field-marker {
    color: red;
}

.form-input-text {
}

.form-input {
    display: block;
    border: 1px solid $contact-form-border-color;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;

    @include breakpoint($breakpoint-mobile) {
        width: 400px;
    }
}

.contact-message {
    height: 150px;
}
