.hero {
    position: relative;
    height: $hero-height;
    overflow: hidden;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(/images/trim-hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.hero-overlay {
    background: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero-title-text {
    text-align: center;
    color: $hero-text-color;
}

.hero-secondary-text {
    text-align: center;
    color: $hero-text-color;
}
