.hero {
    position: relative;
    height: $hero-height;
    overflow: hidden;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(/images/trim-hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    @include breakpoint($breakpoint-tablet) {
        background-position: 50% 10%;
    }
}

.hero-title-text {
    text-align: center;
    color: $hero-text-color;
    font-family: 'Ewert', cursive;
    font-size: 50px;
    margin-top: 30px;

    @include breakpoint($breakpoint-mobile) {
        margin-top: 50px;
        font-size: 72px;
    }
}

.hero-secondary-text {
    text-align: center;
    color: $hero-text-color;
    margin-top: 35px;
    font-size: 25px;

    @include breakpoint($breakpoint-tablet) {
        margin-top: 35px;
        font-size: 30px;
    }
}

.hero-text-accent {
    color: $hero-text-color-accent;
    font-weight: 900;
}
