// TODO: find semantic location for these styles
.content {
    padding-top: $header-height;
    margin: 0 25px;
}

.content-section {
    background-color: $content-background-color;
    //margin: 25px 0;
}
