.services-content {
    padding: 15px;
}

.services-content-title {
    text-align: center;
    text-transform: uppercase;
}

.services-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
}

.service-container {
    height: 200px;
    width: 100%;
    padding: 10px;
    background-color: $service-container-background-color;
    margin-bottom: 5px;
    text-align: center;

    @include breakpoint($breakpoint-tablet) {
        text-align: initial;
        max-width: 200px;
        margin-right: 5px;
    }
}

.service-header {
    font-size: 32px;
    font-weight: 900;
}
