.services-content {
    padding: 15px;
}

.services-content-title {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.services-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.service-container {
    height: 200px;
    width: 100%;
    padding: 10px;
    background-color: $service-container-background-color;
    margin-bottom: 5px;
    text-align: center;

    @include breakpoint($breakpoint-mobile) {
        text-align: initial;
        max-width: 200px;
        margin-right: 5px;
    }
}

.service-header {
    font-size: 20px;
    font-weight: 900;
}
