.about-content {
    padding: 60px 15px;
    background-color: $secondary-color;
    color: $white;
}

.about-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    p {
        font-size: 25px;

        &:first-of-type {
            margin-right: 15px;
            border-bottom: 2px dotted $white;

            @include breakpoint($breakpoint-desktop) {
                border-right: 2px dotted $white;
                border-bottom: none;
            }
        }
    }
}

.about-content-title {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet) {
        font-size: 45px;
    }
}

.about-secondary-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.about-text-accent {
    font-style: italic;
}

.about-tile {
    max-width: 500px;
    min-height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
