.about-content {
    padding: 60px 15px;
    background-color: $secondary-color;
    color: $white;

    @include breakpoint($breakpoint-mobile) {
        padding: 60px 50px;
    }
}

.about-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    p {
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        @include breakpoint($breakpoint-desktop) {
            text-align: initial;
        }

        &:first-of-type {
            border-bottom: 2px dotted $white;

            @include breakpoint($breakpoint-desktop) {
                margin-right: 16px;
                border-right: 2px dotted $white;
                border-bottom: none;
            }
        }
    }
}

.about-content-title {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet) {
        font-size: 45px;
    }
}

.about-secondary-text {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
}

.about-text-accent {
    font-style: italic;
}

.about-tile {
    max-width: 500px;
    min-height: 100px;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 50px;
    margin-bottom: 36px;

    @include breakpoint($breakpoint-desktop) {
        padding: 10px;
        margin-bottom: 0;
    }
}
