footer {
    position: relative;
    height: $footer-height;
    background-color: $secondary-color;
    border-top: 4px solid $accent-color-1;

    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    a {
        color: $white;

        svg {
            fill: $white;
            height: 50px;
            width: 50px;
        }
    }
}
