header {
    padding: 0 25px;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: $header-height;
    background-color: $black;

    nav {
        float: left;
    }
}

.header-logo {
    cursor: pointer;
    color: $header-logo-color;
    float: left;
    line-height: $header-height;
    font-size: 12px;
    margin-right: 5px;
    user-select: none;

    @include breakpoint($breakpoint-mobile) {
        font-size: 14px;
    }
}

.header-nav-item {
    cursor: pointer;
    color: $dark-white;
    line-height: $header-height;
    text-transform: uppercase;
    margin-right: 10px;
    user-select: none;

    &:hover {
        color: $white;
    }
}
