.hero {
    position: relative;
    height: $hero-height;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 50%), url(/images/trim-hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    @include breakpoint($breakpoint-tablet) {
        background-position: 50% 10%;
    }
}

.hero-title-text {
    text-align: center;
    //color: $primary-color;
    color: $white;
    font-family: 'Ewert', cursive;
    font-size: 50px;
    margin-top: 60px;
    //background-color: $secondary-color;
    //text-shadow: 2px 4px 0 $primary-color,
    //             4px 6px 0 $secondary-color,
    //             6px 8px 0 $accent-color-2;

    //text-shadow: 0 0 1px $secondary-color,
    //             0 0 1px $secondary-color,
    //             0 0 1px $secondary-color,
    //             0 0 1px $secondary-color,
    //             $black -2px -1px 0.2em;
    
    //text-shadow: $black -2px -1px 0.2em;
    //text-shadow: $secondary-color -2px -1px 0.2em;

    @include breakpoint($breakpoint-mobile-large) {
        margin-top: 100px;
        font-size: 62px;
    }

    @include breakpoint($breakpoint-tablet) {
        margin-top: 70px;
        font-size: 72px;
    }
}

.hero-secondary-text {
    text-align: center;
    color: $white;
    margin-top: 10px;
    font-size: 20px;

    @include breakpoint($breakpoint-mobile-large) {
        font-size: 25px;
    }

    @include breakpoint($breakpoint-tablet) {
        font-size: 30px;
    }

    //text-shadow: 0px 4px 3px $black,
    //             0px 8px 13px $black,
    //             0px 18px 23px $black;
}

.hero-text-accent {
    font-style: italic;
}

.hero-button {
    cursor: pointer;
    display: block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    background-color: $accent-color-1;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    //text-shadow: 1px 1px 5px $black;

    @include breakpoint($breakpoint-mobile) {
        margin-top: 50px;
    }

    @include breakpoint($breakpoint-mobile-large) {
    }

    @include breakpoint($breakpoint-tablet) {
        margin-top: 50px;
    }
}
