.hero {
    position: relative;
    height: $hero-height;
    overflow: hidden;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(/images/trim-hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    @include breakpoint($breakpoint-tablet) {
        background-position: 50% 10%;
    }
}

.hero-title-text {
    text-align: center;
    color: $primary-color;
    font-family: 'Ewert', cursive;
    font-size: 50px;
    margin-top: 30px;
    background-color: $secondary-color;

    @include breakpoint($breakpoint-mobile) {
        margin-top: 50px;
        font-size: 72px;
    }
}

.hero-secondary-text {
    text-align: center;
    color: $hero-text-color;
    margin-top: 10px;
    font-size: 25px;

    @include breakpoint($breakpoint-tablet) {
        font-size: 30px;
    }
}

.hero-text-accent {
    color: $hero-text-color-accent;
    font-weight: 900;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.hero-button {
    cursor: pointer;
    display: block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    background-color: $accent-color-2;
    color: $white;
    font-size: 20px;
    font-weight: 600;
}
