.services-content {
    padding: 60px 15px;
    background-color: $primary-color;
    border-top: 4px solid $accent-color-1;

    @include breakpoint($breakpoint-mobile) {
        padding: 60px 50px;
    }
}

.services-content-title {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @include breakpoint($breakpoint-tablet) {
        font-size: 45px;
    }
}

.service-secondary-text {
    text-align: center;
    color: $white;
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
}

.services-container {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.service-container {
    height: 350px;
    width: 200px;
    padding: 10px;
    text-align: center;
    color: $white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 50px;
    margin-bottom: 50px;
    border: 2px solid;
    background-color: #86773D;

    @include breakpoint($breakpoint-mobile) {
        text-align: initial;
        margin-left: 80px;
        margin-right: 80px;
    }

    p {
        text-align: center;
        padding-top: 10px;
        border-top: 2px dotted;
    }
}

.service-header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
}

.flower-icon {
  height: 100px;
  width: 100px;

  svg {
    width: 100%;
    height: 100%;
    fill: #87AB7B;
    stroke: #EDBF47;
  }
}

.quote-icon {
  height: 100px;
  width: 100px;

  svg {
    width: 100%;
    height: 100%;
    fill: #EDBF47;
  }
}

.project-managers-icon {
  height: 100px;
  width: 100px;

  svg {
    width: 100%;
    height: 100%;
    fill: #EDBF47;
  }
}

.pay-icon {
  height: 100px;
  width: 100px;

  svg {
    width: 100%;
    height: 100%;
    fill: #EDBF47;
  }
}

.nda-icon {
  height: 100px;
  width: 100px;

  svg {
    width: 100%;
    height: 100%;
    fill: #EDBF47;
  }
}
