.services-content {
    padding: 60px 15px;
    background-color: $primary-color;
    border: 4px solid $accent-color-1;
    border-left: 0;
    border-right: 0;

    @include breakpoint($breakpoint-mobile) {
        padding: 60px 50px;
    }
}

.services-content-title {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 10px;

    @include breakpoint($breakpoint-tablet) {
        font-size: 45px;
    }
}

.service-secondary-text {
    text-align: center;
    color: $white;
    margin-bottom: 50px;
    font-size: 20px;
    font-style: italic;
}

.services-container {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.service-container {
    height: 210px;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    color: $white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 50px;
    margin-bottom: 50px;

    @include breakpoint($breakpoint-mobile) {
        height: 240px;
        text-align: initial;
        margin-left: 80px;
        margin-right: 80px;
    }

    p {
        text-align: center;
        padding-top: 10px;
        border-top: 2px dotted;
    }

    &:after, &:before {
        position: absolute;
        color: $accent-color-1;
        text-shadow: 2px 2px 0px $accent-color-2;
        top: -30px;
        font-size: 235px;

        @include breakpoint($breakpoint-mobile) {
            font-size: 260px;
        }
    }

    &:after {
        content: "}";
        right: -65px;
    }

    &:before {
        content: "{";
        left: -65px;
    }
}

.service-header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 3px;
}
