// color vars
$header-logo-color: #B4D455;
$header-background-color: #1D1917;
$header-nav-color: #7C7372;
$header-nav-color-active: #FFF;

$base-text-color: #131513;

$content-background-color: #F5F5F5;
$about-background-color: #E8E8E8;

$page-background-color: #7E8F7C;

$hero-text-color: #FFF;
$hero-text-color-accent: #FF8C00;

$service-container-background-color: #7E8F7C;

$contact-form-border-color: #E8E8E8;

// dimension vars
$header-height: 50px;
$hero-height: 300px;

$breakpoint-mobile: 580px;
$breakpoint-tablet: 824px;
$breakpoint-desktop: 1050px;

$primary-color: #768352;
//$secondary-color: #CBD265;
$secondary-color: #FADF2B;
$black: #1A0218;
//$white: #F5F7F2;
$white: #F2F0EF;
$accent-color-1: #FF8C00;
//$accent-color-2: #80505E;
//$accent-color-2: #B659C2;
$accent-color-2: #9B6679;
